<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/tabela.css">   
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="/main"><img src="images/logo.png" alt="some text" width=40 height=40></a>&nbsp &nbsp &nbsp
    <a class="navbar-brand" href="#">Agenda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/main">Minha Conta</a>
        </li>
      </ul>
    </div>
</nav>
  <center>
    <h1>Relatório de Eventos</h1>
<table>
  <tr>
    <th>Nome</th>
    <th>Endereço</th>
    <th>Hora inicial</th>
    <th>Hora final</th>
    <th>Categoria</th>
    <th>Destaque</th>
    <th>Convidados</th>
  </tr>

  <%if (eventos.length > 0) { %>
    <% eventos.forEach(function(evento){ %>        
            <tr>
              <td><%= evento.nome %></td>
              <td><%= evento.endereco %></td>
              <td><%= formatarValor(evento.data_hora_init) %></td>
              <td><%= formatarValor(evento.data_end) %></td>
              <td><%= evento.categoria %></td>
              <td>   
              <% if(evento.destaque){ %>
                <img id='destaque' src="/images/star.png" width=15 height=15>
              <% } %></td>
              
              <td><%= evento.Convidados %></td>
            </tr>
    <% }) %>
  <% } %>
</table>
</center>
</body>
</html>
