<!doctype html>
<html lang="en">
  <head>
  	<title>Agenda</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a href="/main"><img src="/images/logo.png" alt="some text" width=40 height=40></a>&nbsp &nbsp &nbsp
        <a class="navbar-brand" href="#">Agenda</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/main">Minha Conta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/compromisso">Voltar</a>
            </li>
            <!-- 
            <li class="nav-item">
              <a class="nav-link" href="/adicionar-eventos">Editar Eventos </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Excluir Eventos </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ajuda</a>
            </li> -->
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
          </form>
        </div>
    </nav>
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
        <ul class="list-unstyled components mb-5">
          <li >
            <a href="/main"><span class="fa fa-home mr-3"></span> Início</a>
          </li>
          <!-- <li>
            <a href="#"><span class="fa fa-user mr-3"></span> Quadro de Tarefas</a>
          </li> -->
          <li class="active">
            <a href="/compromisso"><span class="fa fa-calendar mr-3"></span> Eventos</a>
          </li>
          <li>
            <a href="/blocoNotas"><span class="fa fa-sticky-note mr-3"></span> Bloco de Notas</a>
          </li>
          <li>
            <a href="/contato"><span class="fa fa-address-book-o mr-3"></span> Contatos</a>
          </li>
          <li>
            <a href="/sobre"><span class="fa fa-user-o mr-3"></span> Sobre</a>
          </li>
          <li>
            <a href="/sair_loggof"><span class="fa fa-sign-out mr-3"></span> Sair</a>
          </li>
        </ul>

    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
          <center>
              <br>
        <form class="pure-form" method="POST" action="<%= action %>">
            <fieldset class="pure-group">
                <legend>Adicionar Eventos</legend>
                    <input name="nome" value="<%= form.nome %>" type="text" class="pure-input-1-2" placeholder="Nome do Evento" required />
                    <input name="endereco" value="<%= form.endereco %>" type="text" class="pure-input-1-2" placeholder="Edereço do Evento" />
                    <input name="data_hora_init" value="<%= formatarData(form.data_hora_init.startDate) %>" type="date" class="pure-input-1-2" placeholder="Data Inicial do Evento" />
                    <input name="data_end" value="<%= formatarData(form.data_end.startDate) %>" type="date" class="pure-input-1-2" placeholder="Data Final do Evento" />
                    <input name="categoria" value="<%= form.categoria %>" type="text" class="pure-input-1-2" placeholder="Categoria do Evento" />
                    <input name="Convidados" value="<%= form.Convidados %>" type="text" class="pure-input-1-2" placeholder="Convidados do Evento" />
                        
                    <textarea name="" value="" class="pure-input-1-2" placeholder="Observação"></textarea>
            </fieldset>
                    <label for="multi-terms" class="pure-checkbox">
                        <input name="destaque" type="checkbox" id="multi-terms" 
                        <% if(form.destaque){ %>
                            checked
                        <% } else{ %>  
                        <% } %>

                        /> Destaque
                    </label>
                <button type="submit" value="" class="pure-button pure-input-1-2 pure-button-primary">Enviar</button>
            </form>
          </center>
      </div>
		</div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>